<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="header">
        <img class="logo" src="/img/liebre.svg" alt="">
            <form class="buscador">
                <input class="barra-busqueda" placeholder="Bucar productos,marcas,etc" type="search" name="barra de busqueda">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>       
            <h1 class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h1>
           
        <nav class="menu">
        <ul class="access">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
       </ul>
       <br>
       <ul class="perfil">
            <div><li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li></div>
            <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
      </ul>   
        </nav>    
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <img class="banner" src="/img/banner.jpg" alt="">
    <main>
        <h1 class="title">Basado en tu última visita</h1>
        <br>


        <br>
    <section class="section1"> 
         
        <br>
        <article class="productos">
            <img class="producto-imagen" src="/img/cafetera.jpg" alt="cafetera">
            <div class="detalle-producto">
            <div id="icon">
                <i class="fas fa-solid fa-truck"></i>
            </div>
            <div class="des">
                    <h3>$6.770 </h3>
                    <h4 class="descuento">40% OFF</h4>
            </div>
            <br>
                <h5 class="nombre">Cafetera Moulinex</h5>
            </div>
        </article>
            <br>
        <article class="productos">
            <img class="producto-imagen" src="/img/macbook.jpg" alt="MacBook">
            <div class="detalle-producto">
                <div id="icon"><i class="fas fa-solid fa-truck"></i></div>
                    <div class="des">
                    <h3>$230.000</h3>
                    <h4 class="descuento">20% off</h4>
                </div>
            <br>
                    <h5 class="nombre">MacBook Pro 2019</h5>
            </div>
        </article>
            <br>
        <article class="productos">
            <img class="producto-imagen" src="/img/samsung.jpg" alt="samsung">
            <div class="detalle-producto">
                <div id="icon"><i class="fas fa-solid fa-truck"></i></div>
                    <div class="des">    
                    <h3>$70.500</h3>
                    <h4 class="descuento">10% off</h4>
                </div>
            <br>
                    <h5 class="nombre">Samsung Galaxy S10</h5>
            </div>
        </article>
        <br>
        <article class="productos">
            <img class="producto-imagen" src="/img/smart.jpg" alt="smart">
            <div class="detalle-producto">
                <div id="icon"><i class="fas fa-solid fa-truck"></i></div>
                <div class="des">   
                    <h3>$23.200</h3>
                    <h4 class="descuento">5% off</h4>
                </div>
            <br>
                    <h5 class="nombre">SmartTv Samsung 43"</h5>
            </div>
        </article>  
    </section>
    <br>
    <h1 class="title">Ofertas</h1>
    <br>
    <section class="section2">
            
        <br>
        <article class="productos">
            <img class="producto-imagen" src="/img/cafetera.jpg" alt="cafetera"></div>
            <div class="detalle-producto">
                <div id="icon"><i class="fas fa-solid fa-truck"></i></div>
                <div class="des">
                    <h3>$6.770</h3>
                    <h4 class="descuento">40% OFF</h4>
                </div>  
            <br>
                    <h5 class="nombre">Cafetera Moulinex</h5>
            </div>
        </article>
            <br>
        <article class="productos">
            <img class="producto-imagen" src="/img/macbook.jpg" alt="MacBook">
            <div class="detalle-producto">
                <div id="icon"><i class="fas fa-solid fa-truck"></i></div>
                <div class="des">
                    <h3>$230.000</h3>
                    <h4 class="descuento">20% off</h4>
                </div>
            <br>
                    <h5 class="nombre">MacBook Pro 2019</h5>
            </div>
        </article>
            <br>
        <article class="productos">
            <img class="producto-imagen" src="/img/samsung.jpg" alt="samsung">
            <div class="detalle-producto">
                <div id="icon"><i class="fas fa-solid fa-truck"></i></div>
                <div class="des"> 
                    <h3>$70.500</h3>
                    <h4 class="descuento">10% off</h4>
                </div>
            <br>
                    <h5 class="nombre">Samsung Galaxy S10</h5>
            </div>
        </article>
            <br>
        <article class="productos">
            <img class="producto-imagen" src="/img/smart.jpg" alt="smart">
            <div class="detalle-producto">
                <div id="icon"><i class="fas fa-solid fa-truck"></i></div>
                <div class="des">
                    <h3>$23.200</h3>
                    <h4 class="descuento">5% off</h4>
                </div> 
            <br>
                    <h5 class="nombre">SmartTv Samsung 43"</h5>
            </div>
        </article> 
    </section>
    </main>
     <br>
    <footer>
        <div class="caja-general">
            <div class="efectivo"><i class="fas fa-credit-card"></i></div>
                <div>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <h3>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</h3>
                </div>
            <div class="efectivo"><i class="fas fa-gift"></i></div>
                <div>
                    <h2>Envío gratis desde $ 2.500</h2>
                    <h3>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</h3>
                </div>
            <div class="efectivo"><i class="fas fa-user-shield"></i></div>
                <div>
                    <h2>Seguridad, de principio a fin</h2>
                    <h3>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</h3>
                </div>
        </div>
        
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>

</body>
</html>